@keyframes filter-in {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes filter-out {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@temp: 100%;
@keyframes rollToRight {
  0% {
    transform: translate3d(0%, 0px, 0px);
  }
  16% {
    transform: translate3d(-1 * (@temp), 0px, 0px);
  }
  32% {
    transform: translate3d(-2 * (@temp+2.5%), 0px, 0px);
  }
  48% {
    transform: translate3d(-3 * (@temp+5%), 0px, 0px);
  }
  64% {
    transform: translate3d(-2 * (@temp + 2.5%), 0px, 0px);
  }
  80% {
    transform: translate3d(-1 * (@temp), 0px, 0px);
  }
  100% {
    transform: translate3d(0%, 0px, 0px);
  }
}

.trendings {
  overflow: hidden;
  width: 98%;
  transform: translate3d(0px, 0px, 0px);
  padding: 30px 2% 0;
  height: 100%;
  position: relative;
  margin-bottom: 20px;
  cursor: default;
  &>.title{
    position: relative;
    margin: 0 auto 50px;
    width:inherit;
    text-align: center;
    font-size: 0.89em;
    font-weight: bold;
    font-family: 'slim';
    span{
      line-height: 60px;
      letter-spacing: 10px;
      &::before{
        bottom:0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        position: absolute;
        width: 60px;
        height:5px;
        background-color: #050b1c;
      }
    }
  }
  .posters-wrapper {
    position: relative;
    overflow: hidden;
    width: 200%;
    height: 200px;
    .poster {
      position: relative;
      width: 12.3%;
      height: 200px;
      float: left;
      margin-right: 15px;
      .bg {
        position: relative;
        z-index: 1;
        height: inherit;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: contrast(103%) brightness(87%) saturate(89%) sepia(24%) invert(21%) hue-rotate(326deg);
        filter: contrast(103%) brightness(87%) saturate(89%) sepia(24%) invert(21%) hue-rotate(326deg);
      }
      .description {
        min-width: 100px;
        position: absolute;
        z-index: 99;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'hello';
        font-size: 10px;
        color: #ffffff;
        text-align: center;
        .title {
          font-size: 20px;
        }
      }
      .filter-layout {
        width: 100%;
        height: 0;
        position: relative;
        z-index: 2;
        opacity: 0.5;
        background-color: #404040;
        animation: filter-out 0.5s;
      }
      &:hover {
        .filter-layout {
          height: 100%;
          animation: filter-in 0.5s;
        }
      }

    }
  }
  .test {
    animation: rollToRight 50s infinite;
  }
}