.trendings{
  padding:30px 2% 0;
  height:100%;
  position: relative;
  .posters-wrapper{
    display: flex;
    align-items:flex-start;
    width:100%;
    .poster{
      position:relative;
      width: 100%;
      height:200px;
      background-color: brown;
      margin-right: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

}