.Header {
  margin: 0 auto;
  width: 80%;
  padding: 0 5%;
  height: 120px;
  vertical-align: middle;

  background: rgba(0, 0, 0, .03);
  h2 {
    font-family: 'title-regular';
    font-size: 25px;
    line-height: 120px;
    vertical-align: middle;
    text-align: center;
  }
}