.little-page{
  .pic{
    img{
      width:600px;
      height:395px;
    }
  }
  .rm-btn{
    width:42px;
    height:42px;
    background-color: #050b1c;
    transform: rotate(135deg) translateZ(0);
    transition:all 0.2s ease;
    backface-visibility: hidden;
  }
}