@import './static/css/icomoon.css';

@font-face {
  font-family:'hello';
  src:url('./static/font/ilsscrp.ttf');
}

@font-face {
  font-family:'slim';
  src:url('static/font/Hyperspace.ttf');
}

@font-face {
  font-family:'stright';
  src:url('static/font/Questrial-Regular.ttf');
}

@font-face {
  font-family:'title-regular';
  src:url('static/font/OleoScript-Regular.ttf');
}

#root{
  p{
    line-height: 1.8;
  }
}

